


ul#navigation {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

#navigation li {
    display: inline;
    list-style-type: none;
    font-size: 115%;
}

#navigation a {
    font-size: 90%;
    padding: .2em .4em;
    background: #8EA338;
    margin: 0 .1em;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
}

#navigation a:hover {
    background: #F96611;
}

#navigation a.select {
    font-weight: bold;
    background: #F96611;
    border: 3px solid #FFB380;
}

#main {
    margin-left: 50px;
    width:550px;
    padding: 10px;
}
