body {
    margin:0;
    padding:0;
    border:0;
    width:960px;
    font-family:Verdana,Georgia,Serif;
}

#header {
    margin:0;
    padding:0;
    border:0;
    height:100px;
}

#navigation > ul {
    text-align: center;
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    border:0;
    height:20px;
    width:960px;
}

#navigation li {
    float:left;
    list-style-type: none;
    margin:0;
    padding:0;
    border:0;
}

#navigation a {
    margin:0;
    border:0;
    padding: .2em .4em;
    background: #8EA338;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
}

#navigation a:hover {
    background: #F96611;
}

#navigation a.select {
    font-weight: bold;
    background: #F96611;
    border: 3px solid #FFB380;
}

#main {
    width:80%;
    margin:auto;
    padding: 10px;
    border: 1px solid red;
}
