{% extends "base.html" %}

{% block title %}UCLA Neuroradiology Research!{% endblock %}

{% block main %}
<h1>Overview</h1>
<img src="/img/nsalamon.jpg" style="float:right" />

<p>Thank you for your interest in the UCLA Diagnostic Neuroradiology Fellowshihp Program. we currently accept four fellows per year. We have five full-time diagnostic neuroradiology faculty members, five intervential neuroradiology faculty, and three additional faculty at our VA affiliate. UCLA Medical Center has consistently ranked as one of the best in the nation, with the clinical programs in neurology and neurosurgery particularly strong.</p>

<p>Our fellows benefit from a vast array of pathology encountered at UCLA, supplemented by state-of-the-art equipment, extensive research opportunities, and a rigorous didactic teaching program.</p>

{% endblock %}
