{% extends "base.html" %}

{% block title %}UCLA Neuroradiology{% endblock %}



{% block main %}
<h1>Overview</h1>

<div class="leftblock">
    <img src="/nsalamon.jpg" />

</div>
<p>Thank you for your interest in the UCLA Diagnostic Neuroradiology Fellowship Program. We currently accept four fellows per year. The UCLA neuroradiology section consists of five full-time diagnostic faculty members, five interventional neuroradiology faculty, and three additional diagnostic faculty at our VA affiliate. The UCLA medical center has consistently ranked as one of the best in the nation, with the clinical programs in neurology and neurosurgery particularly strong.</p>

<p>Our fellows benefit from the vast array of pathology encountered at UCLA, supplemented by state-of-the-art equipment and a rigorous didactic teaching program.</p>
{% endblock %}
